# Variables and Datatypes

In [1]:
Name_Of="SAJJAD"
age=34
price=99.09
a=True
b=False
c=None
print("My Name is :" , Name_Of)
print("My age is :", age)
print(price)

print(type(Name_Of))
print(type(age))
print(type(price))
print(type(a))
print(type(b))
print(type(c))

My Name is : SAJJAD
My age is : 34
99.09
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>

# Print Sum

In [2]:
a=9
""" brother give this value
aifhai
jaiofhaih\
jaofhioa
"""
b=1
sum=a/b
print(sum)

9.0

# Comments

In [3]:
#single line comment
""" multi
line
comment """

' multi\nline\ncomment '

# input

In [8]:
a=input("Enter your name: ")
print(a)

sajajd

#  Arithmetic Operators ( + , - , * , / , % , ** )

In [7]:
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) #remainder
print(a**b) #power

7
3
10
2.5
1
25

# Relational / Comparison Operators ( == , != , > , < , >= , <= )

In [9]:
a=3
b=5
print(a==b)
print(a!=b)
print(a<b)
print(a>b)
print(a>=b)
print(a<=b)

False
True
True
False
False
True

# Assignment Operators ( = , +=, -= , *= , /= , %= , **=  )

In [11]:
#a=20
#a-=2
#print(a)

a=10
b*=2
print(b)

10

#  Logical Operators ( not , and , or )

In [12]:
a=10
b=10
print(not a==b)

False

 Write a Program to input 2 numbers & print their sum.

In [3]:
First=int(input("Enter your first number: "))
second=int(input("Enter your second number: "))
sum=First+second
print("this is the sum of your numbers ", sum)

this is the sum of your numbers  20

 WAP to input side of a square & print its area.

In [ ]:
First=float(input("Enter your lenght of one side of square: "))
Area=First**2
#Area=First*First
print("This is the area of your square: ", Area)

This is the area of your square:  100.0

 WAP to input 2 floating point numbers & print their average.

In [7]:
First=float(input("Enter your first floating number: "))
second=float(input("Enter your second floating number: "))
average=(First+second)/2
print("this is your average of two numbers: ", average)

this is your average of two numbers:  2.0