# Dictionary in Python

In [ ]:
dic={

    "Name": "Sajjad",
    "Age": 21,
    "university":"UAF",
    "Dept.":"CS",
    "Subjects": ["CS", "Math", "Physics", "English"],
    "Marks": {
        "CS": 85,
        "Math": 90,
        "Physics": 80,
        "English": 75
    
    }
    "CGPA" : 3,
    3.5: "Good",
    
    }
print(type(dic))
print(dic)
print(dic["Age"])
print(dic["university"])
print(dic["Subjects"][0])
print(dic["CGPA"])
print(dic[3.5])
print(dict["Name"] == "Sajjad")

<class 'dict'>
{'Name': 'Sajjad', 'Age': 21, 'university': 'UAF', 'Dept.': 'CS', 'Subjects': ['CS', 'Math', 'Physics', 'English'], 'CGPA': 3, 3.5: 'Good'}
21
UAF
CS
3
Good
False

In [38]:
dic={

    "Name": "Sajjad",
    "Age": 21,
    "university":"UAF",
    "Dept.":"CS",
    "Subjects": ["CS", "Math", "Physics", "English"],
    "Marks": {
        "CS": 85,
        "Math": 90,
        "Physics": 80,
        "English": 75
    
    }
    
    }
print(dic["Marks"]["Math"])
print(dic.values())
print(dic.keys())
print(list(dic.items()))

90
dict_values(['Sajjad', 21, 'UAF', 'CS', ['CS', 'Math', 'Physics', 'English'], {'CS': 85, 'Math': 90, 'Physics': 80, 'English': 75}])
dict_keys(['Name', 'Age', 'university', 'Dept.', 'Subjects', 'Marks'])
[('Name', 'Sajjad'), ('Age', 21), ('university', 'UAF'), ('Dept.', 'CS'), ('Subjects', ['CS', 'Math', 'Physics', 'English']), ('Marks', {'CS': 85, 'Math': 90, 'Physics': 80, 'English': 75})]

# Set in Python

In [23]:
set= {1, 2, 3, 4, 5}
# print(type(set))
set.add(76)
set.add(77)
set.add(78)
print(set)
set.remove(1)
print(set)
set.remove(77)
print(set)
set.clear()
print(set)
set_2 = {1, 2, 3, 4, 5}
set_2.pop()
print(set_2)
set_2.pop()
print(set_2)

{1, 2, 3, 4, 5, 76, 77, 78}
{2, 3, 4, 5, 76, 77, 78}
{2, 3, 4, 5, 76, 78}
set()
{2, 3, 4, 5}
{3, 4, 5}

Set Methods

In [25]:
s_1={1,2,3}
s_2={3,4,5}
print(s_1.union(s_2))
print(s_1.intersection(s_2))

{1, 2, 3, 4, 5}
{3}

 Store following word meanings in a python dictionary :

In [27]:
dic={

    "cat" : "a small animal",
    "table" : ("a piece of furniture", "list of facts & figures")


}
print(dic)

{'cat': 'a small animal', 'table': ('a piece of furniture', 'list of facts & figures')}

 You are given a list of subjects for students. Assume one classroom is required for 1
 subject. How many classrooms are needed by all students.

In [29]:
set_2= {"python" , "java" , "javascript", "C++", "C", "python", "java", "C++"}
print(set_2)
print(len(set_2))

{'python', 'java', 'C++', 'javascript', 'C'}
5

WAP to enter marks of 3 subjects from the user and store them in a dictionary. Start with
 an empty dictionary & add one by one. Use subject name as key & marks as value.

In [30]:
marks={}

subject=int(input("Enter subject name: "))
marks.update({"phy" : subject})

subject=int(input("Enter subject name: "))
marks.update({"maths" : subject})

subject=int(input("Enter subject name: "))
marks.update({"english" : subject})


subject=int(input("Enter subject name: "))
marks.update({"biology" : subject})

print(marks)

{'phy': 50, 'maths': 60, 'english': 70, 'biology': 80}

Figure out a way to store 9 & 9.0 as separate values in the set. 
(You can take help of built-in data types) 
Apna

In [35]:
x={"9",9.0}
print(x)

{9.0, '9'}