Indexing

In [10]:
a="Python is a programming language"
print(a[10])


b=[2,3,4,5,5,3]
print(b[2])
b[2]=1000
print(b)

a
4
[2, 3, 1000, 5, 5, 3]

Slicing

In [19]:
a="Python"
# print(a[0:5])

# print(a[0:])

print(a[ :5])

Pytho

 Negative Index

In [28]:
a="python"
a = "python"
print(a[-5:])  # Output: ython

ython

.endsWith

In [5]:
a="I am learning python"
b=a.endswith("am")
print(b)

False

.capitalize( )

In [8]:
c="p am a programmer"
print(c.capitalize())

P am a programmer

replace

In [10]:
a="I am a student of cs and i am a programmer with a skill"
print(a.replace("a","an"))

I anm an student of cs annd i anm an progranmmer with an skill

find

In [19]:
a="I am a student of cs and i am a programmer with a skill"
print(a.find("skill"))

50

count\

In [ ]:
a="I am a student of cs and i am a programmer with a skill"
print(a.count("a"))

7

 WAP to input user’s first name & print its length.

In [ ]:
a=input("Enter your name")
print(len(a))

S A J J A D

6

WAP to find the occurrence of ‘$’ in a String.
 Apna Coll

In [21]:
A="the price of $ is 50$"
print(A.count("$"))

2

# Conditional Statement

In [27]:
age=int(input("Enter your age: "))

if(age>=18):
    print("You are eligible for CNIC")
elif(age<18):
    print("You are not eligible for CNIC")

You are eligible for CNIC

In [36]:
marks=int(input("Enter your marks: "))

if(marks>=48):
    print("Grade A")
elif(marks>=39 and marks<48):
    print("Grade B")
elif(marks>=30 and marks<39):
    print("Grade C")
elif(marks>=20 and marks<30):
    print("Grade D")
elif(marks<20 and marks>=10):
    print("Grade F")
else:
    print("Not appeard")

Not appeard

C is greater than A and B

In [2]:
first_number=int(input("enter your first number:"))
second_number=int(input("enter your second number:"))
sum=first_number+second_number
print("the sum of two numbers is:", sum)

the sum of two numbers is: 20

 WAP to check if a number entered by the user is odd or even.

In [ ]:
number=int(input("enter your number:"))
if(number%2==0):
    print("the number is even")
else:
    print("the number is odd")

the number is even

 WAP to find the greatest of 3 numbers entered by the user.

In [6]:
a=int(input("enter your first number:"))
b=int(input("enter your second number:"))
c=int(input("enter your second number:"))

if(a>b and a>c):
    print("a is greater than b and c")
elif(b>a and b>c):
    print("b is greater than a and c")
else:
    print("c is greater than a and b")

b is greater than a and c

WAP to check if a number is a multiple of 7 or not.

In [16]:
number=int(input("enter your  number:"))
if(number % 9 == 0):
    print("the number is a multiple of 9")
else:
    print("the number is not a multiple of 9")

the number is not a multiple of 9

# Lists in Python

In [ ]:
a=[1,2,309,4,5,90,7,87,9]
print(len(a))
print(type(a))
# b="python"
# print(type(b))

# print(a[5])
# print(a[0:5])
# print(a[1:5])
# print(a[2:])

c=["python", 2 , "sajjad", 2.3 ,1]
c[2]="Ali"
print(c)
c[0]="Java"
print(c)

9
<class 'list'>
['python', 2, 'Ali', 2.3, 1]
['Java', 2, 'Ali', 2.3, 1]

List Methods

In [ ]:
a=[1,2,309,4,5,90,7,87,9]
a.append(200)
print(a)

a.append(300)
print(a)

a.insert(2,308)
print(a)

[1, 2, 309, 4, 5, 90, 7, 87, 9, 200]
[1, 2, 309, 4, 5, 90, 7, 87, 9, 200, 300]
[1, 2, 308, 309, 4, 5, 90, 7, 87, 9, 200, 300]

.sort

In [ ]:
a=[1,2,309,4,5,90,7,87,9]
a.sort() # Sorts the list in ascending order
print(a)

b=[9,94,9484,4,3,5,8,23]
b.sort(reverse=True) # Sorts the list in descending order
print(b)

[1, 2, 4, 5, 7, 9, 87, 90, 309]
[9484, 94, 23, 9, 8, 5, 4, 3]

.reverse( )

In [21]:
c=[1,2,3466,4,5,6455,7,8,9567]
c.reverse()       # Reverses the list
print(c)

[9567, 8, 7, 6455, 5, 4, 3466, 2, 1]

remove()

In [24]:
list = [2, 1, 3, 1,2]
list.remove(2)  # Removes the first occurrence of 1 from the list
print(list)

[1, 3, 1, 2]

pop()

In [26]:
list = [2, 1, 3, 1,2]
list.pop(3) # Removes the element at index 2
print(list)

[2, 1, 3, 2]